############################
# Build 目录
############################
/build/
/bin/
/lib/

############################
# CMake 生成文件
############################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake

############################
# Protobuf 生成文件
############################
*.pb.cc
*.pb.h

############################
# 可执行文件
############################
*.out
*.exe
*.app

############################
# 静态 / 动态库
############################
*.a
*.so
*.so.*
*.dylib

############################
# 日志文件
############################
*.log

############################
# 编辑器文件
############################
.vscode/
.idea/
*.swp
*.swo
*.user
*.userosscache

############################
# Mac 系统文件
############################
.DS_Store

############################
# Linux 临时文件
############################
*~
